.logoContainer {
    border: 1px solid black;
    margin: 1em;
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    padding: 0.7em;
    text-align: center;
    width: 100px;
    height: 10%;
    border-radius: 5%;

}